In [2]:
2*5

10

In [4]:
5*9

45

In [5]:
(56 + 89 + 89*2)/7

46.142857142857146

In [6]:
17/3

5.666666666666667

In [7]:
17 // 3

5

In [8]:
 17 % 8

1

In [9]:
56 ** 7

1727094849536

In [10]:
6 ** 3

216

In [11]:
5 ** 2

25

In [12]:
7 ** 2

49

In [13]:
2 ** 7

128

In [15]:
"\"yes\", they are hear"

'"yes", they are hear'

In [16]:
"let's do that"

"let's do that"

In [1]:
print("hello")

hello

In [17]:
'let\'s do this'

"let's do this"

In [21]:
print(5 + 9)

14

In [23]:
print('let\'s do this')

let's do this

In [29]:
print( "first line.\nsecond line")

first line.
second line

In [26]:
8 * 9

72

In [2]:
5>2

True

In [3]:
3>5

False

In [4]:
3 and 5

5

In [5]:
3>5 and 5<3

False

In [1]:
"ron"*8

'ronronronronronronronron'

In [2]:
"ron" + "20"

'ron20'

In [3]:
53 > 65

False

In [6]:
"7d23"

'7d23'

In [7]:
787 ==56

False

In [8]:
print("is that"your case)

is that"your case

In [21]:
a = 5
b = 8
c = 9

print(b)

8

In [18]:
print('b')

b

variables

In [22]:
a = 5
print(a)

5

In [14]:
print(a)

a

In [23]:
# data types

In [24]:
a = 89

In [25]:
b = 56
a = b

In [26]:
print(a)

56

In [29]:
b = a
print(b)

56

In [30]:
a = b + 10

print(a)

66

In [31]:
a = 89
type(a)

int

In [33]:
a = "flase"

type(a)

str

In [38]:
b = TRUE

NameError: name 'TRUE' is not defined

In [39]:
type(b)

int

In [ ]:
a = true

In [40]:
type(a)

str

In [41]:
_a = 5

In [43]:
_k = 3

###### DATA IS THE KING

In [2]:
x = "awsome"

print(x)

awsome

In [4]:
print("python is" +  x)

python isawsome

In [6]:
print("jos" + '3')

jos3

# new start

In [7]:
a = 5
b = 15

print(a+b)

20

In [13]:
x= 4
y= 5

def myfunc():
    x = 10
    print(x+5)  
    
myfunc()

15

In [20]:
x = 56

def myfunc():
    global x
    y =67
    print(x+y)
    
myfunc()

123

In [27]:

def myfunc():
    global x
    x = 5
    print(x)
 
myfunc()

print("jos is"  +  "x")

5
jos isx

In [30]:
x = "6"

print("jos" + x)

jos6

In [37]:
name = "joy"
name1 = 56

In [38]:
name2 = 5.3

In [40]:
name3 = "TRUE"

In [41]:
type(name)

str

In [42]:
type(name3)

str

In [44]:
type(name2)

float

In [46]:
type("str")

str

In [49]:
x = "strings"

In [50]:
print(type(x))

<class 'str'>

In [58]:
y = 45j

print(type(y))

<class 'complex'>

In [59]:
print("tuple")

tuple

In [60]:
z = range(45,89)

In [62]:
print(z)

range(0, 89)

In [63]:
type(z)

range

In [64]:
q = True

print(q)

True

In [65]:
type(q)

bool

In [69]:
x = frozenset(("apple", "cherry", "graps"))

print(x)

frozenset({'cherry', 'graps', 'apple'})

In [76]:
x = 56
y = 8 
z = 78

def myfunc():
    a = -78
    print(y + z + a)
    
myfunc()

8

# new part

In [1]:
x = 56

a = float(x)

print(a)

56.0

In [2]:
print(type(a))

<class 'float'>

In [3]:
type(x)

int

In [4]:
b = complex(x)

In [5]:
print(b)

(56+0j)

In [6]:
c = int(b)

print(c)

TypeError: can't convert complex to int

In [7]:
type(c)

NameError: name 'c' is not defined

In [8]:
print(b)

(56+0j)

In [10]:
import random

print(random,randrange(0,100))

NameError: name 'randrange' is not defined

In [12]:
range(23)

range(0, 23)

In [20]:
print(tuple("name"))

('n', 'a', 'm', 'e')

In [21]:
range(78)

range(0, 78)

In [25]:
x, y, z = [78,45,45]

print(x)

78

In [29]:


print(range(78))

range(0, 78)

In [30]:
int("5")

5

In [35]:
str("5.6")

'5.6'

In [36]:
float("45")

45.0

In [37]:
int(5.3)

5

In [38]:
str("565.5")

'565.5'

In [40]:
int(45.6)

45

In [42]:
x = 45

y = float(x)

In [43]:
print(y)

45.0

In [44]:
x=y=z=789

print(y)

789

In [46]:
import random as rand

print(random.randrange(78))

62

NoneType

In [47]:
print(random.randrange(100,1000))

948

In [48]:
x = 'good or bad'

print(x)

good or bad

In [49]:
x = 8*9

y = x

print(y)

72

In [50]:
print(x + 45)

117

In [53]:
print(y)

72

In [54]:
78 /121

0.6446280991735537

In [55]:
78 // 54

1

In [56]:
7 ** 2

49

In [57]:
78 * 2

156

In [58]:
78 % 45

33

In [59]:
range(700)

range(0, 700)

In [62]:
list[78l48]

SyntaxError: invalid syntax (<ipython-input-62-8aad353a8104>, line 1)

# strings concepts

In [1]:
a = 'hello world!'

print(a[4])

o

In [44]:
for x in "apple" :
    
      print(x)

a
p
p
l
e

In [7]:
for a in "great":
    print(a)

g
r
e
a
t

In [9]:
y = "hello"

print(len(y))

5

In [36]:
z ='world is free to live'

print("free"  in z)

True

In [39]:
if "free"  in z:
    print("yes, it's there")

yes, it's there

In [14]:
print("best" not in z)

True

In [15]:
if "best" not in z:
    print("no, its not there")

no, its not there

In [21]:
for y in 'world is free to live':
      print(y)

w
o
r
l
d

i
s

f
r
e
e

t
o

l
i
v
e

In [25]:
print(z[1:5])

orld

In [29]:
print(z[5:])

 is free to live

In [34]:
print(z[-7:-3])

to l

In [40]:
print(z.upper())

WORLD IS FREE TO LIVE

In [41]:
print(z.lower())

world is free to live

In [42]:
print(z.strip())

world is free to live

In [43]:
print(z.replace("free","costly"))

world is costly to live

In [44]:
print(z.split(" "))

['world', 'is', 'free', 'to', 'live']

In [45]:
b = z.split(" ")
print(b)

['world', 'is', 'free', 'to', 'live']

# concatenation

In [55]:
a = "hello"
b = "you"
c = "are"

d = a + " " + b + " " + c
print(d)

hello you are

In [58]:
print(a + " " + b + " " + c)

hello you are

In [65]:
b = "hello you are {0}"

print(b.format(25,24))

hello you are 25

In [68]:
txt = "you are the \"gretest\" in the world"

In [69]:
print(txt)

you are the "gretest" in the world

In [70]:
txt = "you are one\n and they are two {}"

In [71]:
print(txt)

you are one
 and they are two

In [72]:
print(txt.capitalize())

You are one
 and they are two

In [74]:
print(txt.count("are"))

2

In [79]:
print(txt.center(0))

you are one
 and they are two

In [80]:
print(txt.encode())

b'you are one\n and they are two'

In [85]:
print(txt.endswith("two"))

True

In [86]:
print(txt.index("are"))

4

In [87]:
print(txt.title())

You Are One
 And They Are Two

In [88]:
print(txt.swapcase())

YOU ARE ONE
 AND THEY ARE TWO

In [89]:
print(txt.format(3))

you are one
 and they are two

# BOOLEANS

In [91]:
10 > 5

True

In [93]:
a = 500
b = 400

if b>a:
    print("yes b grater than a")
else:
    print("yes b is not greater than a")

yes b is not greater than a

In [95]:
a = "hello"

print(bool(a))

True

In [96]:
bool(56468)

True

In [99]:
bool("good")

True

In [100]:
bool([45,45,45,48])

True

In [102]:
bool([])

False

In [103]:
bool(())

False

In [110]:
bool(False)

False

In [113]:
def myfunction():
    return False

x = myfunction()

print(x)

False

In [117]:
q = 789

print(isinstance(q,float))

False

In [118]:
print(100>50)

True

In [119]:
print(0)

0

In [120]:
type(q)

int

In [121]:
print(type(q))

<class 'int'>

# operators

In [3]:
x = "33"

y = "333"

print(x  +" "+  y)

33 333

In [4]:
30 % 4

2

In [5]:
2 ** 4

16

In [6]:
45 **2

2025

In [7]:
23 ** 2

529

In [8]:
45 //6

7

In [9]:
5 ^ 2

7

In [13]:
x *= 3

print(x)

333333333333333333333333333333333333333333333333333333

In [19]:
45 & 6

4

In [17]:
20 % 3

2

In [18]:
x = 45

x *=3

print(x)

135

In [20]:
x is y

False

In [21]:
x =y
x is y

True

In [24]:
5>4  and  9>8

True

In [30]:
z = "we are the one world"

if "world" in z:
    print("yes")
else:
    print("no")

yes

In [36]:
5|20

21

In [39]:
0|1  #bitwise operators

1

In [41]:
~1232165

-1232166

# lists

In [51]:
mylist = ["apple","banana","cherry","apple"]

print(mylist)

['apple', 'banana', 'cherry', 'apple']

In [52]:
print(type(mylist))

<class 'list'>

In [53]:
print(len(mylist))

4

In [54]:
mylist1 = [45,45,56,False, "apple is fruit", 4.5]       #mylist1 highlight

In [55]:
print(mylist1)

[45, 45, 56, False, 'apple is fruit', 4.5]

In [56]:
len(mylist1)

6

In [62]:
x,y,z = ["sdf","khgoti","tip"]

print(x +" " + y+ " " +z)

sdf khgoti tip

In [63]:
list2= list(("mjhj","jbui","iggi"))

print(list2)

['mjhj', 'jbui', 'iggi']

In [65]:
print(mylist1[2])

56

In [66]:
print(mylist1[-2])

apple is fruit

In [72]:
print(mylist1[1:4])

[45, 56, False]

In [74]:
print(mylist1[-4:])

[56, False, 'apple is fruit', 4.5]

In [78]:
if 89  in mylist1:
    print("yes its there")
else:
    print("not at all")

not at all

In [79]:
mylist1[3] = "joy"
print(mylist1)

[45, 45, 56, 'joy', 'apple is fruit', 4.5]

In [86]:
mylist1[1:3] =  26

In [87]:
print(mylist1)

[45, 26, 'joy', 'apple is fruit', 4.5]

In [88]:
print(mylist1)

[45, 26, 'joy', 'apple is fruit', 4.5]

In [90]:
mylist1[1:5] = "789"
print(mylist1)

[45, '7', '8', '9']

In [91]:
mylist1.insert(1, 7896)

In [92]:
print(mylist1)

[45, 7896, '7', '8', '9']

In [93]:
mylist1.append(465)
print(mylist1)

[45, 7896, '7', '8', '9', 465]

In [95]:
mylist1[2] = 963, 456
print(mylist1)

[45, 7896, (963, 456), '8', '9', 465]

In [3]:
mylist= ["apple","banana","cherry","grap","blackcurrent"]
mylist.append("watermelon")
print(mylist)

['apple', 'banana', 'cherry', 'grap', 'blackcurrent', 'watermelon']

In [5]:
thistuple = ("mengo")
mylist.append(thistuple)
print(mylist)

['apple', 'banana', 'cherry', 'grap', 'blackcurrent', 'watermelon', ('mengo',), 'mengo']

In [14]:
mylist.remove("mengo")
print(mylist)

['apple', 'banana', 'cherry', 'grap', 'blackcurrent', 'watermelon', ('mengo',)]

In [16]:
mylist.pop(6)
print(mylist)

['apple', 'banana', 'cherry', 'grap', 'blackcurrent', 'watermelon']

In [17]:
del mylist[3]
print(mylist)

['apple', 'banana', 'cherry', 'blackcurrent', 'watermelon']

In [18]:
mylist.clear()
print(mylist)

[]

In [20]:
mylist=[789, 456, 465, 269,4487]

for x in mylist:
     print(x)

789
456
465
269
4487

In [21]:
for i in range(len(mylist)):
     print(i)

0
1
2
3
4

In [24]:
[print for x in mylist]

[<function print>,
 <function print>,
 <function print>,
 <function print>,
 <function print>]

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        x
print(x)

mango

In [34]:
newlist = [x for x in fruits if "a" in x ]
print(newlist)

['apple', 'banana', 'mango']

In [35]:
newlist= [x for x in fruits if "apple" == x]
print(newlist)

['apple']

In [37]:
newlist1 = [x for x in fruits if "apple" != x]
print(newlist1)

['banana', 'cherry', 'kiwi', 'mango']

In [39]:
newlist2 = [x for x in range(20) if x <= 15]
print(newlist2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [40]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [46]:
newlist3 = [x if x != "banana" else "orenge" for x in fruits]
print(newlist3)

['apple', 'orenge', 'cherry', 'kiwi', 'mango']

In [52]:
newlist2.sort(reverse = True)
print(newlist2)

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [53]:
mylist = newlist2.copy()
print(mylist)

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [56]:
print(mylist[1:6])

mylist[:10]

[14, 13, 12, 11, 10]

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6]

In [58]:
mylist.clear()

print(mylist)

[]

In [61]:
mylist.count(13)
print(mylist)

[]

In [62]:
list1 = [789, 456]
list2 = [123, 465]

list1.extend(list2)
print(list1)

[789, 456, 123, 465]

In [63]:
list1.append(list2)
print(list1)

[789, 456, 123, 465, [123, 465]]

# tuples

In [7]:
mytuple = ("apple", "banana","kiwi", 78, 45.6)
print(mytuple)

('apple', 'banana', 'kiwi', 78, 45.6)

In [4]:
print(len(mytuple))

3

In [6]:
tuple1 = ("good",)
print(tuple1)

('good',)

In [8]:
type(mytuple)

tuple

In [9]:
mytuple[1]

'banana'

In [13]:
mytuple[1:]

('banana', 'kiwi', 78, 45.6)

In [14]:
print(mytuple)

('apple', 'banana', 'kiwi', 78, 45.6)

In [15]:
y = list(mytuple)
y[1] = "cherry"
print(y)
x = tuple(y)
print(x)

['apple', 'cherry', 'kiwi', 78, 45.6]
('apple', 'cherry', 'kiwi', 78, 45.6)

In [16]:
q = list(mytuple)
q.append("water")
print(q)

['apple', 'banana', 'kiwi', 78, 45.6, 'water']

In [18]:
mytuple = tuple(q)
print(mytuple)

('apple', 'banana', 'kiwi', 78, 45.6, 'water')

In [19]:
q.remove("banana")
print(q)

['apple', 'kiwi', 78, 45.6, 'water']

In [20]:
mytuple =tuple(q)
print(mytuple)

('apple', 'kiwi', 78, 45.6, 'water')

In [22]:
y = ("banana",)
mytuple += y
print(mytuple)

('apple', 'kiwi', 78, 45.6, 'water', 'banana')

In [23]:
fruits = ("apple", "banana", "kiwi")

y = ("grape",)
z = ("black",)

fruits += y + z
print(fruits)

('apple', 'banana', 'kiwi', 'grape', 'black')

In [24]:
(q, w, *r) = fruits

print(q)
print(w)
print(r)

apple
banana
['kiwi', 'grape', 'black']

In [25]:
print(fruits)

('apple', 'banana', 'kiwi', 'grape', 'black')

In [26]:
for x in fruits:
    print(x)

apple
banana
kiwi
grape
black

In [31]:
for i in range(len(fruits)):
      print(fruits[i])

apple
banana
kiwi
grape
black

In [32]:
print(fruits)

('apple', 'banana', 'kiwi', 'grape', 'black')

In [34]:
tuple1 = fruits*3

print(tuple1)

('apple', 'banana', 'kiwi', 'grape', 'black', 'apple', 'banana', 'kiwi', 'grape', 'black', 'apple', 'banana', 'kiwi', 'grape', 'black')

In [36]:
tuple2 = ("blackcurrent",)

print(fruits + tuple2)

('apple', 'banana', 'kiwi', 'grape', 'black', 'blackcurrent')

In [37]:
tuple1.count("banana")

3

# sets

In [44]:
thisset = {"apple", "banana", "kiwi","kiwi"}
print(thisset)

{'apple', 'kiwi', 'banana'}

In [43]:
print(thisset)

{'apple', 'kiwi', 'banana'}

In [45]:
len(thisset)

3

In [46]:
for x in thisset:
    print(x)

apple
kiwi
banana

In [47]:
"kiwi" in thisset

True

In [50]:
q = list(thisset)
print(q)

['apple', 'kiwi', 'banana']

In [51]:
q.append("blackcurrent")

In [52]:
print(q)

['apple', 'kiwi', 'banana', 'blackcurrent']

In [53]:
thisset = set(q)

In [54]:
print(thisset)

{'apple', 'blackcurrent', 'banana', 'kiwi'}

In [55]:
thisset.add("grape")

In [57]:
print(thisset)

{'apple', 'grape', 'banana', 'kiwi', 'blackcurrent'}

In [58]:
mylist = ["watermelon"]

thisset.update(mylist)
print(thisset)

{'apple', 'grape', 'watermelon', 'banana', 'kiwi', 'blackcurrent'}

In [60]:
thisset.remove("banana")
print(thisset)

{'apple', 'grape', 'watermelon', 'kiwi', 'blackcurrent'}

In [61]:
thisset.pop()
print(thisset)

{'grape', 'watermelon', 'kiwi', 'blackcurrent'}

In [62]:
for x in thisset:
    print(x)

grape
watermelon
kiwi
blackcurrent

# dicts

In [22]:
#hello dicts

thisdict = { "brand":"ford",
           "model":"mustang",
           "year":1964,
            }
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [12]:
print(thisdict["brand"])

ford

In [33]:
thisdict["year"]

thisdict.get("model")

'mustang'

In [32]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [31]:
thisdict["color"] = "white"

print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'white'}

In [34]:
thisdict.values()

dict_values(['ford', 'mustang', 1964, 'white'])

In [35]:
thisdict["color"]

'white'

In [36]:
thisdict.items()

dict_items([('brand', 'ford'), ('model', 'mustang'), ('year', 1964), ('color', 'white')])

In [40]:
if "model" in thisdict:
    print("yes its there")

yes its there

In [41]:
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'white'}

In [42]:
thisdict["year"] = 2018

In [43]:
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2018, 'color': 'white'}

In [44]:
thisdict.update({"year": 1970})

In [45]:
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1970, 'color': 'white'}

In [47]:
thisdict.keys()

dict_keys(['brand', 'model', 'year', 'color'])

In [48]:
thisdict.pop("color")

'white'

In [49]:
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1970}

In [56]:
for x,y in thisdict.items():
    print(x,y)

brand ford
model mustang
year 1970

In [58]:
mydict= thisdict.copy()

In [59]:
print(mydict)

{'brand': 'ford', 'model': 'mustang', 'year': 1970}

In [61]:
thisdict.fromkeys({"model":1964})

{'model': None}

# python loops

In [ ]:
i = 1

while i<3:
    print(i)
    i += 1

In [ ]:
for x in range(0,6):
    print(x)

In [ ]:
print(45400)